body {
    height: 100vh;
}

body, .wrapper {
    display: flex;
    justify-content: center;
}

.wrapper {
    border: solid 3px black;
    border-radius: 35px;
    width: 500px;
}

.notification {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }